* {
  box-sizing: border-box;
}
*::selection {
  background-color: #ea736d;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #393f47;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  font-family: 'M PLUS 1p', sans-serif;
}
.container {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 708px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.center {
  display: flex;
  justify-content: center;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.none {
  display: none;
}
.mix {
  display: none;
}
.header {
  padding-top: 70px;
  padding-bottom: 240px;
  max-width: 100%;
  background-image: url('../img/line.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
.header__top-nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-nav--margin {
  margin-bottom: 95px;
}
.header__logo {
  font-size: 42px;
  color: #000000;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.header__logo:focus {
  border: 2px solid #ea736d;
  border-style: dotted;
}
.header__logo::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -5px;
  right: -5px;
  width: 75px;
  height: 10px;
  z-index: -1;
  background-color: #fbdc4d;
  transition: all 0.5s ease-in;
}
.header__logo:hover::after {
  background-color: #ea736d;
}
.nav__list li {
  display: inline-block;
  margin-right: 80px;
}
.nav__list li:last-child {
  margin-right: 0;
}
.nav__link {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  z-index: 2;
}
.nav__link:focus {
  border: 2px solid #ea736d;
  border-style: dotted;
}
.nav__link::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #fbdc4d;
  transition: 0.5s;
  z-index: -1;
}
.nav__link:hover::after {
  width: 100%;
}
.header__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link {
  text-decoration: none;
  margin-right: 20px;
}
.social-link:last-child {
  margin-right: 0;
}
.social-link:hover .social-icon--inst {
  fill: #a109a7;
}
.social-link:hover .social-icon--git {
  fill: #6cc644;
}
.social-link:hover .social-icon--vk {
  fill: #45668e;
}
.social-icon {
  width: 30px;
}
.social-icon:last-child {
  width: 35px;
}
.header__info {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  z-index: 8;
}
.header-img {
  width: 50%;
  max-width: 460px;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
.header-img::after {
  content: "";
  position: absolute;
  bottom: -29%;
  left: 25%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: -moz-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -ms-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
}
.header-img-pc {
  position: relative;
  z-index: 2;
}
.header-content {
  width: 50%;
}
.header__title {
  font-size: 90px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  z-index: 2;
  position: relative;
  margin-bottom: 15px;
}
.header__title::after {
  content: '';
  position: absolute;
  bottom: 14px;
  left: -3px;
  width: 211px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
  transition: all 0.5s ease-in;
}
.header__title:before {
  content: '';
  position: absolute;
  top: 81px;
  left: -3px;
  height: 12px;
  width: 382px;
  background-color: #fbdc4d;
  z-index: -1;
  transition: all 0.5s ease-in;
}
.header__title:hover::before {
  background-color: #ea736d;
}
.header__title:hover::after {
  background: #ea736d;
}
.header__title:hover .header__title::before {
  background-color: #ea736d;
}
.header__desc {
  padding-right: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.5;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
.header__button-meet {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  line-height: 65px;
  display: inline-block;
  width: 255px;
  height: 65px;
  margin-right: 20px;
  border-radius: 32px;
  background-color: #fbdc4d;
}
.header__button-meet:hover {
  background-color: #ffd200;
}
.header__button-meet:active {
  background-color: #e1bc10;
}
.header__button-contacts {
  font-size: 22px;
  font-weight: 700;
  color: #464646;
  text-align: center;
  line-height: 57px;
  display: inline-block;
  width: 190px;
  height: 65px;
  border-radius: 32px;
  border-width: 4px;
  border-color: #464646;
  border-style: solid;
}
.header__button-contacts:hover {
  border-color: #797979;
  color: #797979;
}
.header__button-contacts:active {
  border-color: #181818;
  color: #181818;
}
.header__background {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: -130px;
  width: 100%;
  max-width: 1600px;
}
.header__bottom {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.header__bottom-content {
  display: flex;
  justify-content: space-between;
}
.header__title-skills {
  margin-bottom: 30px;
}
.header__title-contacts {
  margin-bottom: 40px;
}
.header__bottom-title {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
.header__bottom-skills {
  width: 655px;
}
.header__bottom-contacts {
  width: 485px;
  padding-left: 125px;
}
.skill-list {
  font-size: 24px;
  color: #000000;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
  margin-bottom: 40px;
}
.skill-list li {
  line-height: 40px;
  padding-left: 40px;
  position: relative;
}
.skill-list li::before {
  position: absolute;
  content: '';
  width: 23px;
  height: 2px;
  background: #6b6b6b;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header__works-link {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  display: inline-block;
  width: 275px;
  height: 64px;
  border-radius: 32px;
  background-color: #fbdc4d;
}
.header__works-link:hover {
  background-color: #ffd200;
}
.header__works-link:active {
  background-color: #e1bc10;
}
.header__bottom-icons {
  display: flex;
  margin-bottom: 30px;
}
.bottom-icons-link {
  margin-right: 30px;
  transition: all 1s;
}
.bottom-icons-link:last-child {
  margin-right: 0;
}
.bottom-icons-link:hover {
  opacity: 0.5;
}
.header__bottom-email {
  font-size: 24px;
  color: #000000;
  text-decoration: underline;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
.header__bottom-email:hover {
  color: #039be5;
}
.section-portfolio {
  padding-top: 60px;
  padding-bottom: 95px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 80px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 105px;
    padding-bottom: 125px;
  }
}
.portfolio__title {
  font-size: 42px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 45px;
  position: relative;
  z-index: 2;
  display: inline-block;
}
@media (min-width: 768px) {
  .portfolio__title {
    font-size: 52px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio__title {
    font-size: 64px;
    margin-bottom: 60px;
  }
}
.portfolio__title::after {
  content: '';
  background-color: #fbdc4d;
  position: absolute;
  bottom: 4px;
  left: -3px;
  width: 276px;
  height: 12px;
  z-index: -1;
  transition: all .5s ease;
}
@media (min-width: 768px) {
  .portfolio__title::after {
    width: 342px;
    bottom: 7px;
  }
}
@media (min-width: 1200px) {
  .portfolio__title::after {
    bottom: 9px;
    width: 418px;
  }
}
.portfolio__title:hover::after {
  background-color: #ea736d;
}
.portfolio__works {
  display: none;
}
@media (min-width: 768px) {
  .portfolio__works {
    display: block;
    margin-bottom: 45px;
  }
}
.portfolio__works-type {
  display: inline-block;
  margin-right: 45px;
}
.portfolio__works-type:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .portfolio__works-type {
    margin-right: 45px;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-type {
    margin-right: 80px;
  }
}
.portfolio__works-link {
  font-size: 28px;
  font-weight: 800;
  color: #8fa5ae;
  line-height: 1.2;
}
.portfolio__works-link:hover {
  color: #ea736d;
}
@media (min-width: 768px) {
  .portfolio__works-link {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio__works-link {
    font-size: 28px;
  }
}
.active {
  color: #ed574f;
}
.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .portfolio__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .portfolio__wrapper {
    margin-bottom: 65px;
  }
}
.portfolio__wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .portfolio__wrapper2 {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .portfolio__wrapper2 {
    margin-bottom: 65px;
  }
}
.portfolio__works-link--all {
  font-size: 20px;
  color: #039be5;
  text-decoration: underline;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding-bottom: 5px;
}
@media (min-width: 1200px) {
  .portfolio__works-link--all {
    display: none;
  }
}
.portfolio__card {
  width: 100%;
  margin-bottom: 45px;
}
.portfolio__card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .portfolio__card {
    max-width: 339px;
    margin-bottom: 0 ;
  }
}
@media (min-width: 1200px) {
  .portfolio__card {
    max-width: 555px;
  }
}
.portfolio__card2 {
  width: 100%;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .portfolio__card2 {
    max-width: 339px;
    margin-bottom: 0 ;
  }
}
@media (min-width: 1200px) {
  .portfolio__card2 {
    width: 360px;
    max-width: 555px;
  }
}
#portfolio__card-display {
  display: inline-block;
}
@media (min-width: 768px) {
  #portfolio__card-display {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  #portfolio__card-display {
    display: inline-block !important;
  }
}
.card__img {
  display: block;
  position: relative;
  cursor: pointer;
  transition: .5s all;
}
.card__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fbdc4d;
  opacity: 0.8;
  z-index: 4;
  transform: translateY(100%);
  transition: 0.7s;
}
.card__button {
  font-size: 22px;
  font-weight: 800;
  color: #ea736d;
  line-height: 52px;
  background-color: #fff;
  text-align: center;
  border-radius: 26px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: 0.5s ease;
  width: 255px;
  height: 52px;
  display: none;
}
.card__button:hover {
  background-color: #ea736d;
  color: #ffffff;
}
.card__img-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}
.card__img-wrapper:hover .card__img::before {
  transform: translateY(0);
}
@media (min-width: 768px) {
  .card__img-wrapper {
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .card__img-wrapper {
    margin-bottom: 25px;
  }
}
.card__img-wrapper:hover .card__button {
  display: block;
}
.portfolio__card-title {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}
.portfolio__card-title:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #ed574f;
}
@media (min-width: 768px) {
  .portfolio__card-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .portfolio__card-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
.portfolio__card-desc {
  font-size: 16px;
  color: #000000;
  font-weight: 300;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .portfolio__card-desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio__card-desc {
    font-size: 22px;
  }
}
.card__title {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}
.card__title:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #ed574f;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .card__title {
    font-size: 26px;
  }
}
.card__desc {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .card__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .card__desc {
    font-size: 18px;
  }
}
.section-work {
  padding-top: 55px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .section-work {
    padding-top: 85px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .section-work {
    padding-top: 135px;
    padding-bottom: 145px;
    background-image: url('../img/work/workbg.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.section-work__title {
  font-size: 38px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
  letter-spacing: -1.38px;
}
@media (min-width: 768px) {
  .section-work__title {
    font-size: 52px;
    margin-bottom: 70px;
    letter-spacing: unset;
  }
}
@media (min-width: 1200px) {
  .section-work__title {
    font-size: 64px;
    margin-bottom: 75px;
  }
}
.section-work__title::after {
  content: '';
  background-color: #fbdc4d;
  position: absolute;
  bottom: 3px;
  left: 50%;
  width: 296px;
  height: 12px;
  z-index: -1;
  transition: all .5s ease;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .section-work__title::after {
    bottom: 6px;
    width: 428px;
  }
}
@media (min-width: 1200px) {
  .section-work__title::after {
    width: 520px;
    bottom: 9px;
  }
}
.section-work__title:hover::after {
  background-color: #ea736d;
}
.section-work-wrapper {
  width: 100%;
  max-width: 1005px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .section-work-wrapper {
    padding-top: 75px;
  }
  .section-work-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 57px;
    background-color: #e1eef4;
    z-index: 5;
  }
}
.section-work__block:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 54px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-work__block:nth-child(1) {
    width: 392px;
    flex-direction: row-reverse;
    padding-right: 0px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .section-work__block:nth-child(1) {
    width: 585px;
    padding-right: 43px;
    padding-bottom: 60px;
  }
}
.section-work__block-img {
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-work__block-img:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 71px;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: #e1eef4;
}
@media (min-width: 768px) {
  .section-work__block-img:after {
    height: 109px;
    bottom: -129px;
  }
}
.section-work__block-content {
  width: 195px;
  text-align: left;
}
@media (min-width: 768px) {
  .section-work__block-content {
    width: 288px;
    text-align: right;
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .section-work__block-content {
    width: 420px;
  }
}
.section-work__block-content2 {
  width: 195px;
  text-align: left;
}
@media (min-width: 768px) {
  .section-work__block-content2 {
    width: 288px;
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .section-work__block-content2 {
    width: 420px;
  }
}
.section-work__block:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 14px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-work__block:nth-child(2) {
    width: 392px;
    margin-left: auto;
    padding-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .section-work__block:nth-child(2) {
    width: 585px;
    padding-left: 48px;
    padding-bottom: 38px;
  }
}
.section-work__block:nth-child(3) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-work__block:nth-child(3) {
    width: 392px;
    flex-direction: row-reverse;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .section-work__block:nth-child(3) {
    width: 585px;
    padding-right: 43px;
    padding-bottom: 38px;
  }
}
.section-work__block:nth-child(4) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-work__block:nth-child(4) {
    width: 392px;
    margin-left: auto;
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .section-work__block:nth-child(4) {
    width: 585px;
    padding-left: 48px;
    padding-bottom: 38px;
  }
}
.section-work__block:last-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-work__block:last-child .section-work__block-img::after {
  display: none;
}
@media (min-width: 768px) {
  .section-work__block:last-child {
    width: 392px;
    flex-direction: row-reverse;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .section-work__block:last-child {
    width: 585px;
    padding-right: 43px;
  }
}
.section-work__block-title {
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}
.section-work__block-title::after {
  display: none;
}
@media (min-width: 1200px) {
  .section-work__block-title::after {
    display: block;
    content: '';
    background-color: #fbdc4d;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    width: 100%;
    height: 7px;
    z-index: -1;
    transition: all .5s ease;
  }
}
.section-work__block-title:hover::after {
  background-color: #ea736d;
}
@media (min-width: 768px) {
  .section-work__block-title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .section-work__block-title {
    font-size: 26px;
    margin-bottom: 13px;
  }
}
.section-work__block-desc {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .section-work__block-desc {
    font-size: 16px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .section-work__block-desc {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.section-work__block-time {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .section-work__block-time {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .section-work__block-time {
    font-size: 18px;
  }
}
.section-contacts {
  padding-top: 55px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-contacts {
    padding-top: 85px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding: 145px 0;
  }
}
.section-contacts__title {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
}
.section-contacts__title::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 228px;
  height: 12px;
  z-index: -1;
  background-color: #fbdc4d;
  transition: all 0.5s ease-in;
}
.section-contacts__title:hover::after {
  background-color: #ea736d ;
}
@media (min-width: 768px) {
  .section-contacts__title {
    margin-bottom: 65px;
    font-size: 52px;
  }
  .section-contacts__title::after {
    bottom: 6px;
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .section-contacts__title {
    font-size: 64px;
  }
  .section-contacts__title::after {
    bottom: 7px;
    width: 343px;
  }
}
.section-contacts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section-contacts__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .section-contacts__wrapper::before {
    content: '';
    position: absolute;
    left: -350px;
    top: -20px;
    width: 448px;
    height: 281px;
    background-image: url("../img/dots.png");
  }
}
.contacts-background {
  display: none;
}
@media (min-width: 1200px) {
  .contacts-background {
    display: block;
    position: absolute;
    content: '';
    width: 327px;
    height: 280px;
    top: -25px;
    left: -230px;
    background-image: url(../img/bgdots.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.section-contacts__content {
  width: 100%;
  padding-right: 0px;
}
@media (min-width: 768px) {
  .section-contacts__content {
    width: 339px;
  }
}
@media (min-width: 1200px) {
  .section-contacts__content {
    width: 50%;
    padding-right: 65px;
  }
}
.section-contacts__desc {
  font-size: 16px;
  color: #000000;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 25px;
  letter-spacing: -0.2px;
}
@media (min-width: 768px) {
  .section-contacts__desc {
    letter-spacing: normal;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .section-contacts__desc {
    font-size: 20px;
    margin-bottom: 45px;
  }
}
.section-contacts__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media (min-width: 1200px) {
  .section-contacts__info {
    margin-bottom: 45px;
  }
}
.contacts__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.contacts__row:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts__row {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .contacts__row {
    flex-direction: row;
    margin-bottom: 30px;
  }
  .contacts__row:last-child {
    margin-bottom: 0;
  }
}
.contacts-type {
  width: 100%;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .contacts-type {
    width: 195px;
    font-size: 20px;
    margin-bottom: 0;
  }
}
.contacts-data {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;
  color: #96969d;
  line-height: 1.2;
}
.contacts-data a {
  color: #039be5;
}
@media (min-width: 768px) {
  .contacts-data {
    font-size: 20px;
  }
}
.contact-icons {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contact-icons {
    margin-bottom: 0;
  }
}
.section-contacts__form {
  width: 100%;
}
@media (min-width: 768px) {
  .section-contacts__form {
    width: 338px;
  }
}
@media (min-width: 1200px) {
  .section-contacts__form {
    width: 50%;
    padding-right: 20px;
  }
}
.contacts-form {
  background-color: #ffffff;
  box-shadow: 0 28px 100px #c2dbeb;
  width: 100%;
  padding: 35px 15px 40px 20px;
}
@media (min-width: 768px) {
  .contacts-form {
    width: 338px;
    padding: 35px 15px 40px 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    width: 510px;
    padding: 60px 60px 40px 60px;
  }
}
.form-row {
  position: relative;
  margin-bottom: 50px;
  font-weight: 700;
}
.form-row:nth-last-child(2) {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .form-row {
    margin-bottom: 55px;
  }
  .form-row:nth-last-child(2) {
    margin-bottom: 55px;
  }
}
.form-row__input {
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #eaeaea;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
  height: 40px;
  outline: none;
  resize: none;
  font-weight: 700;
}
.form-row__input:focus {
  border-bottom-color: #ea736d ;
}
@media (min-width: 1200px) {
  .form-row__input {
    height: 50px;
  }
}
.contact-form__success h2 {
  text-align: center;
  color: #ea736d;
}
.fake-placeholder {
  position: absolute;
  left: 5px;
  top: 5px;
  pointer-events: none;
  font-size: 20px;
  font-weight: 700;
  color: #dcdcdc;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  .fake-placeholder {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .fake-placeholder {
    top: 10px;
  }
}
.fake-placeholder.active {
  font-size: 16px;
  color: #ed9626;
  top: -13px;
}
@media (min-width: 1200px) {
  .fake-placeholder.active {
    top: -10px;
  }
}
.form-row__input--textarea {
  padding-top: 17px;
  padding-bottom: 17px;
  height: auto;
}
.form-button {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
  border: 0;
  border-radius: 30px;
  outline: none;
  background-color: #fbdc4d;
  width: 100%;
  height: 54px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #ffd200;
}
.form-button:active {
  background-color: #e1bc10;
}
@media (min-width: 768px) {
  .form-button {
    height: 54px;
    width: 100%;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .form-button {
    width: 200px;
    height: 64px;
    font-size: 22px;
  }
}
.error {
  color: red;
  font-size: 14px;
  position: relative;
}
.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #333333;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 768px) {
  .footer {
    padding-top: 35px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
.footer__copyright {
  font-size: 18px;
  color: #f1f1f1;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 1.2;
}
.footer__desc p {
  color: #b0b0b0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.4px;
}
.footer__desc p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__desc p {
    letter-spacing: 0px;
    margin-bottom: 6px;
  }
  .footer__desc p:last-child {
    margin-bottom: 0;
  }
}
.footer__link {
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}
.footer__link:hover {
  color: #039be5;
  border-bottom-color: #039be5;
}
.portfolio-header {
  padding-top: 70px;
  background-color: #f4f8f9;
}
.header__top-nav--margin {
  margin-bottom: 0;
}
.section-portfolio__title {
  text-align: center;
}
.section-portfolio--padding {
  padding-bottom: 0px;
}
.section-portfolio__footer {
  padding-top: 65px;
  background-color: #f4f8f9;
}
.section-portfolio__footer .header__bottom-icons {
  text-align: center;
}
.portfolio__footer-content {
  text-align: center;
  font-size: 36px;
  font-family: "Roboto";
  color: #161616;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__footer-content p {
  margin-bottom: 40px;
}
.portfolio__footer-title {
  font-size: 42px;
  font-family: "Roboto";
  color: #161616;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.portfolio__footer-link {
  color: #71b1ec;
}
.portfolio__footer-bg {
  width: 100%;
  max-width: 1600px;
  height: 623px;
  margin-top: -200px;
  background-image: url(../img/portfoliofootbg.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
#page-nav {
  position: fixed;
  right: 50px;
  top: 50%;
  z-index: 100;
}
#page-nav li {
  width: 14px;
  height: 14px;
  background-color: #89b4cb;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: 0.5s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: #ea736d;
}
.portfolio-header--white {
  background-color: #fff;
  padding-bottom: 90px;
}
.mediamarket__title {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 45px;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.mediamarket__title span {
  content: '';
  position: absolute;
  left: -3px;
  top: 41px;
  width: 662px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
  transition: all 0.5s ease-in;
}
.mediamarket__title span::before {
  content: '';
  position: absolute;
  bottom: -58px;
  left: 148px;
  width: 365px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
  transition: all 0.5s ease-in;
}
.mediamarket__title:hover span {
  background-color: #ea736d ;
}
.mediamarket__title:hover span::before {
  background-color: #ea736d;
}
.mediamarket-badge__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}
.badge {
  font-size: 14px;
  font-family: "Roboto";
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 6px 9px;
  margin-right: 10px;
}
.badge:last-child {
  margin-right: 0;
}
.badge-html {
  background: #ff861a;
}
.badge-css {
  background: #039be5;
}
.badge-bs {
  background: #a062c7;
}
.badge-js {
  background: #ffd200;
  color: #000;
}
.badge-jquery {
  background: #044d85;
}
.badge-php {
  background: #777bb4;
}
.mediamarket__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.mediamarket__info {
  width: 100%;
  max-width: 458px;
}
.section-mediamarket__links {
  margin-bottom: 50px;
}
.mediamarket__links-title {
  font-size: 26px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
.mediamarket__links-title::after {
  content: '';
  position: absolute;
  left: -3px;
  top: 21px;
  width: 272px;
  height: 8px;
  background-color: #fbdc4d;
  z-index: -1;
  transition: 0.5s ease-in;
}
.mediamarket__links-title:hover::after {
  background-color: #ea736d;
}
.mediamarket__link-wrapper {
  margin-bottom: 50px;
}
.mediamarket__link {
  display: flex;
  margin-bottom: 15px;
}
.mediamarket__link:last-child {
  margin-bottom: 0;
}
.mediamarket__link-img {
  margin-right: 15px;
}
.mediamarket__link-name {
  font-size: 18px;
  color: #2a86b3;
  text-decoration: underline;
  line-height: 1.2;
}
.mediamarket__project-title {
  font-size: 26px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
.mediamarket__project-title::after {
  content: '';
  position: absolute;
  left: -3px;
  top: 21px;
  width: 154px;
  height: 8px;
  background-color: #fbdc4d;
  z-index: -1;
  transition: 0.5s ease-in;
}
.mediamarket__project-title:hover::after {
  background-color: #ea736d;
}
.mediamarket__project-desc {
  font-size: 16px;
  color: #161616;
  line-height: 1.5;
  text-align: left;
  font-weight: 500;
  padding-right: 16px;
  margin-bottom: 50px;
}
.mediamarket__details-title {
  font-size: 26px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
}
.mediamarket__details-title::after {
  content: '';
  position: absolute;
  left: -3px;
  top: 21px;
  width: 112px;
  height: 8px;
  background-color: #fbdc4d;
  z-index: -1;
  transition: 0.5s ease-in;
}
.mediamarket__details-title:hover::after {
  background-color: #ea736d;
}
.details-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.details-row:last-child {
  margin-bottom: 0;
}
.details__type {
  width: 100%;
  max-width: 165px;
  font-size: 16px;
  font-weight: 800;
  color: #161616;
  line-height: 1.5;
  text-align: left;
}
.details__desc {
  width: 100%;
  max-width: 293px;
  font-size: 16px;
  color: #161616;
  line-height: 1.5;
  text-align: left;
}
.details__desc a {
  color: #039be5;
  text-decoration: underline;
}
.mediamarket__img img {
  max-width: 652px;
  object-fit: cover;
  box-shadow: 20px 20px 100px #c4dbe9;
}
.mediamarket__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}
.pagination-btn {
  width: 555px;
  height: 80px;
  background-color: #333333;
  color: #feffff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: 0.26px;
  text-align: center;
  transition: background-color 0.2s ease;
}
.mediamarket__footer {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */