.footer{
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #333333;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__copyright{
    font-size: 18px;
    color: #f1f1f1;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1.2; 
}

.footer__link{
    color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;    
    &:hover{
        color: #039be5;
        border-bottom-color: #039be5;
    }
}