.section-work{
    padding-top: 55px;
    padding-bottom: 60px;

    @media (min-width:768px){
        padding-top: 85px;
        padding-bottom: 90px;
    }
    @media (min-width:1200px){
        padding-top: 135px;
        padding-bottom: 145px;

        background-image: url('../img/work/workbg.jpg');
        background-size: auto;
        background-position: center;
        background-repeat: repeat-y;
    }
}

.section-work__title{
    font-size: 38px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 45px;
    letter-spacing: -1.38px;

    @media (min-width:768px){
        font-size: 52px;
        margin-bottom: 70px;
        letter-spacing: unset;
    }
    
    @media (min-width:1200px){
        font-size: 64px;
        margin-bottom: 75px;
    }
    
    &::after{
        content: '';
        background-color: #fbdc4d;
        position: absolute;
        bottom: 3px;
        left: 50%;
        width: 278px;
        height: 12px;
        z-index: -1;
        transition: all .5s ease;
        transform: translateX(-50%);

        @media (min-width:768px){
            bottom: 6px;
            width: 400px;
        }
        @media (min-width:1200px){
            width: 487px;
            bottom: 9px;
        }
    }

    &:hover::after{
        background-color: #ea736d;
    }
}

.section-work-wrapper{
    width: 100%;
    max-width: 1005px;
    margin: 0 auto;
    position: relative;

    @media (min-width:768px){
        padding-top: 75px;
        &::before{
            content:'';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            
            width: 4px;
            height: 57px;
    
            background-color: rgb(225, 238, 244);
            z-index: 5;
        }    
    }
}
.section-work__block:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 54px;
    margin-bottom: 20px;

    @media (min-width:768px){
        width: 392px;
        flex-direction: row-reverse;
        padding-right: 0px;
        padding-bottom: 75px;
    } 
    @media (min-width:1200px){
        width: 585px;
        padding-right: 43px;
        padding-bottom: 60px;
    }
}
.section-work__block-img{
    width: 74px;
    height: 74px;
    border-radius: 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        width: 4px;
        height: 71px;

        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
        
        z-index: 5;    
        background-color: rgb(225, 238, 244);
        
        @media (min-width:768px){
            height: 109px;
            bottom: -129px;
        }
    }
}
.section-work__block-content{
    width: 195px;
    text-align: left;

    @media (min-width:768px){
        width: 288px;
        text-align: right;
        padding-top: 25px;
    }
    
    @media (min-width:1200px){
        width: 420px;
    }
}

.section-work__block-content2{
    width: 195px;
    text-align: left;

    @media (min-width:768px){
        width: 288px;
        padding-top: 25px;

    }
    
    @media (min-width:1200px){
        width: 420px;
    }
}

.section-work__block:nth-child(2){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 14px;
    margin-bottom: 20px;

    @media (min-width:768px){
        width: 392px;
        margin-left: auto;
        padding-bottom: 5px;
    } 
    @media (min-width:1200px){
        width: 585px;
        padding-left: 48px;
        padding-bottom: 38px;
    }
}

.section-work__block:nth-child(3){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-bottom: 20px;

    @media (min-width:768px){
        width: 392px;
        flex-direction: row-reverse;
        padding-right: 0px;
    } 
    @media (min-width:1200px){
        width: 585px;
        padding-right: 43px;
        padding-bottom: 38px;
    }
}

.section-work__block:nth-child(4){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (min-width:768px){
        width: 392px;
        margin-left: auto;
        padding-bottom: 10px;
    } 
    @media (min-width:1200px){
        width: 585px;
        padding-left: 48px;
        padding-bottom: 38px;
    }
}

.section-work__block:last-child{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .section-work__block-img{
        &::after{
            display: none;
        }
    }
    @media (min-width:768px){
        width: 392px;
        flex-direction: row-reverse;
        padding-right: 0px;
    } 
    @media (min-width:1200px){
        width: 585px;
        padding-right: 43px;
    }
}
.section-work__block-title {
    font-size: 20px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;

    &::after{
        display: none;
        
        @media (min-width:1200px){
            display: block;
            content: '';
            background-color: #fbdc4d;
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            width: 100%;
            height: 7px;
            z-index: -1;
            transition: all .5s ease;
        }
    }

    &:hover::after{
        background-color: #ea736d;
    }

    @media (min-width:768px){
        font-size: 24px;
    }
    
    @media (min-width:1200px){
        font-size: 26px;
        margin-bottom: 13px;
    }
}

.section-work__block-desc{
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-bottom: 10px;

    @media (min-width:768px){
        font-size: 16px;
        margin-bottom: 12px;
    }
    
    @media (min-width:1200px){
        font-size: 18px;
        margin-bottom: 15px;
    }
      
}

.section-work__block-time{
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.2;

    @media (min-width:768px){
        font-size: 16px;

    }
    
    @media (min-width:1200px){
        font-size: 18px;
    }
}
  

