.section-portfolio{
    padding-top: 60px;
    padding-bottom: 95px;
    background-color: #f4f8f9;

    @media (min-width:768px){
        padding-top: 80px;
        padding-bottom: 75px;
    }
    
    @media (min-width:1200px){
        padding-top: 105px;
        padding-bottom: 125px;
    }
}

.portfolio__title {
    font-size: 42px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    line-height: 1.2;

    margin-bottom: 45px;
    position: relative;
    z-index: 2;
    display: inline-block;

    @media (min-width:768px){
        font-size: 52px;
        margin-bottom: 50px;
    }
    
    @media (min-width:1200px){
        font-size: 64px;
        margin-bottom: 60px;
    }
      

    &::after{
        content: '';
        background-color: rgb(251, 220, 77);
        position: absolute;
        bottom: 4px;
        left: -3px;    

        width: 276px;
        height: 12px;
        z-index: -1;
        transition: all .5s ease;

        @media (min-width:768px){
            width: 342px;
            bottom: 7px;

        }
        @media (min-width:1200px){
            bottom: 9px;
            width: 418px;
        }
    }  &:hover::after{
        background-color:#ea736d;
    }  
}

// .portfolio__title:hover::after{
//     background-color:#ea736d;
// }

.portfolio__works{
    display: none;

    @media (min-width:768px){
        display: block;
        margin-bottom: 45px;

    }
}

.portfolio__works-type{
    display: inline-block;
    margin-right: 45px;

    &:last-child{
        margin-right: 0;
    }

    @media (min-width:768px){
        margin-right: 45px;

    }
    
    @media (min-width:1200px){
        margin-right: 80px;
    }
}

.portfolio__works-link{
    font-size: 28px;
    font-weight: 800;
    color: rgb(143, 165, 174);
    line-height: 1.2;
    
    &:hover{
        color: #ea736d;
    }

    @media (min-width:768px){
            font-size: 24px;
    }
    
    @media (min-width:1200px){
    font-size: 28px;
        
    }
}

.active{
    color: #ed574f;
}

.portfolio__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45px;

    &:last-child{
        margin-bottom: 0;
    }

    @media (min-width:768px){
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    
    @media (min-width:1200px){
    margin-bottom: 65px;
        
    }
}

.portfolio__card{
    width: 100%;
    margin-bottom: 45px;

    &:last-child{
        margin-bottom: 0;
    }
    @media (min-width:768px){
        max-width: 339px;

    }
    
    @media (min-width:1200px){
        max-width: unset;
    }


}

.card__img{
    display: block;
    position: relative;
    cursor: pointer;
    transition: .5s all;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgb(251, 220, 77);
        opacity: 0.8;
        z-index: 4;

        // display: none;
        transform: translateY(100%);
        transition: 0.7s;
    }

    @media (min-width:768px){

    }
    
    @media (min-width:1200px){
        
    }
}
.card__button{
    font-size: 22px;
    font-weight: 800;
    color: #ea736d;
    line-height: 52px;
    background-color: #fff;
    text-align: center;
    border-radius: 26px;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: 0.5s ease;
      
    width: 255px;
    height: 52px;   
    
    display: none;

    &:hover{
        background-color: #ea736d;
        color:#fff
    }
}

.card__img-wrapper{
    position: relative;
    cursor: pointer;
    overflow: hidden;

    margin-bottom: 20px;

    &:hover .card__img::before{
        transform: translateY(0);
    }
    
    @media (min-width:768px){
        margin-bottom: 23px;
    }
    
    @media (min-width:1200px){
        margin-bottom: 25px;  
    }
}

.card__img-wrapper:hover{
    .card__button{
        display: block;
    }
}

.portfolio__card-title{
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #ed574f;
    }
    @media (min-width:768px){
        font-size: 24px;
        margin-bottom: 12px;

    }
    
    @media (min-width:1200px){
        font-size: 32px;
        margin-bottom: 10px;
    }
}

.portfolio__card-desc{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    line-height: 1.1;  

    @media (min-width:768px){
        font-size: 18px;
    }
    
    @media (min-width:1200px){
            font-size: 22px;
    }
}

.card__title{
    font-size: 26px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;

    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #ed574f;
    }
}

.card__desc{
    font-size: 20px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
  