.section-portfolio{
    padding-top: 60px;
    padding-bottom: 95px;
    background-color: #f4f8f9;

    @media (min-width:768px){
        padding-top: 80px;
        padding-bottom: 75px;
    }
    
    @media (min-width:1200px){
        padding-top: 105px;
        padding-bottom: 125px;
    }
}

.portfolio__title {
    font-size: 42px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    line-height: 1.2;

    margin-bottom: 45px;
    position: relative;
    z-index: 2;
    display: inline-block;

    @media (min-width:768px){
        font-size: 52px;
        margin-bottom: 50px;
    }
    
    @media (min-width:1200px){
        font-size: 64px;
        margin-bottom: 60px;
    }
      
    &::after{
        content: '';
        background-color: rgb(251, 220, 77);
        position: absolute;
        bottom: 4px;
        left: -3px;    

        width: 252px;
        height: 12px;
        z-index: -1;
        transition: all .5s ease;

        @media (min-width:768px){
            width: 308px;
            bottom: 7px;

        }
        @media (min-width:1200px){
            bottom: 9px;
            width: 378px;
        }
    }  &:hover::after{
        background-color:#ea736d;
    }  
}

.portfolio__works{
    display: none;

    @media (min-width:768px){
        display: block;
        margin-bottom: 45px;

    }
}

.portfolio__works-type{
    display: inline-block;
    margin-right: 45px;

    &:last-child{
        margin-right: 0;
    }

    @media (min-width:768px){
        margin-right: 45px;

    }
    
    @media (min-width:1200px){
        margin-right: 80px;
    }
}

.portfolio__works-link{
    font-size: 28px;
    font-weight: 800;
    color: rgb(143, 165, 174);
    line-height: 1.2;
    
    &:hover{
        color: #ea736d;
    }

    @media (min-width:768px){
        font-size: 24px;
    }
    
    @media (min-width:1200px){
    font-size: 28px;
        
    }
}
.active{
    color: #ed574f;
}

.portfolio__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
    

    @media (min-width:768px){
        flex-direction: row;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    
    @media (min-width:1200px){
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
}
#portfolio-projects2{
    @media (min-width:1200px){
        margin-bottom: 0;
    }
}

.portfolio__card{
    // display: block;
    width: 100%;
    margin-bottom: 50px;

    @media (min-width:768px){
        max-width: 339px;
        margin-bottom: 0;
    }
    @media (min-width:1200px){
        max-width: 555px;
    }
}

.card__img-wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgb(251, 220, 77);
        opacity: 0.8;
        z-index: 4;

        transform: translateY(100%);
        transition: 0.7s;
    }

    &:hover::before{
        transform: translateY(0);
    }
    &:hover{
        .card__button{
            display: block;
        }
    }
}

.card__button{
    position: absolute;

    font-size: 22px;
    font-weight: 800;
    color: #ea736d;
    line-height: 52px;
    background-color: #fff;
    text-align: center;
    border-radius: 26px;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: 0.5s ease;

    width: 255px;
    height: 52px;

    display: none;
    
    &:hover{
        background: #ea736d;
        color: #fff;
    }
}

.portfolio__card2{
    width: 100%;
    margin-bottom: 40px;

    @media (min-width:768px){
        width: 339px;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    @media (min-width:1200px){
        width: 360px;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.portfolio__card-title{
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    transition: all .5s ease-in-out;
    
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #ed574f;
    }
    @media (min-width:768px){
        font-size: 24px;
        margin-bottom: 12px;
    }
    @media (min-width:1200px){
        font-size: 32px;
        margin-bottom: 10px;
    }
}

.portfolio__card-desc{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    line-height: 1.1;  

    @media (min-width:768px){
        font-size: 18px;
    }
    
    @media (min-width:1200px){
        font-size: 22px;
    }
}
.card__title{
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;

    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #ed574f;
    }

    @media (min-width:768px){
       font-size: 24px;
    }
    
    @media (min-width:1200px){
        font-size: 26px;
    }
}

.card__desc{
    font-size: 16px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    line-height: 1.2;

    @media (min-width:768px){
        font-size: 18px;
    }
    
    @media (min-width:1200px){
        font-size: 18px;
    }
}

.portfolio__works-link--all{
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 64px;
    text-align: center;

    display: inline-block;
    width: 275px;
    height: 64px;

    border-radius: 32px;
    background-color: rgb(251, 220, 77);
    &:hover{
        color: #039be5;
        text-decoration: underline;
    }
    @media (min-width:1200px){
        display: none;
    }
}


  